<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h1> Search for a Book </h1>
<form action="{{ url_for('book_search_form') }}" method="post" name="book_search_form">
	{{form.hidden_tag()}}
	<p> 
		{{ form.title(placeholder="Title") }}
	</p>
	<p> 
		{{ form.author(placeholder="Author") }}
	</p>
	<p>
		<select name="Genre">
		{% for genre in genres %}	
  			<option value="{{ genre }}">{{genre}}</option>
  		{% endfor %}	
  		</select>
  	</p>	 		
	{% for error in form.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
	
	<p><input type="submit" value="Submit"></p>	
	</form>	
{% endblock %}