<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h1> Register A New Account</h1>
<form action="{{ url_for('new_user_form') }}" method="post" name="new_user_form">
	{{form.hidden_tag()}}
	<p>		
		{{ form.given_name(placeholder="First Name") }}
	</p>
	<p>	
		{{ form.surname(placeholder="Last Name") }}
	</p>
	<p> 
		{{ form.email(placeholder="Email Address") }}
	</p>
	<p> 
		{{ form.password(placeholder="Password") }}
	</p>
	<p> 
		{{ form.confirm(placeholder="Confirm Password") }}
	</p>
	{% for error in form.errors %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>
	
	<p><input type="submit" value="Submit"></p>	
	</form>	
{% endblock %}