{% extends "base.html" %}
{% block content %}
	<h1>BOOK</h1>
	<div class="col-md-2">
	</div>
	<div id="book" class="col-md-8">
	<table class="table">
		<tr>
			<th>Image</th>
			<th>Title</th>
			<th>Author</th>
			<th>Genre</th>
			<th>Description</th>
			<th>Request to Borrow</th>
			<th>Buy from Amazon</th>
		</tr>


	    <tr>
	    	<td><img src="{{ book.image_url}}"></td>
	    	<td>{{ book.title }}</td>
	    	<td>{{ book.author }}</td>
	    	<td>{{ book.genre }}</td>
	    	<td>{{ book.description }}</td>
	    	<td>{{ book.status }}</td>
	    	<td><a href="{{ book.amazon_url }}">Buy from Amazon</a></td>
	    		    	
	    </tr>    
	</table>
{% endblock %}