{% extends "base.html" %}
{% block content %}
	<h1> View Added Book Details </h1>
	
	<div>
	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Genre</th>
			<th>Description</th>
			<th>Image</th>
			<th>Link to Amazon</th>					
		</tr>
	    <tr>
	    	<td>{{ book.title }}</td>
	    	<td>{{ book.author }}</td>
	    	<td>{{ book.genre }}</td>
	    	<td>{{ book.description}}</td>
	    	<td><img src="{{ book.image_url}}"></td>
	    	<td><a href="{{ book.amazon_url}}"> Amazon URL </a></td>
	    	<td>{{ book.asin}}</td>
	    </tr>    
	</table>
	    
	</table>
	
	</div>
{% endblock %}
